/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    font-family: 'Noto Sans JP', 'メイリオ', Meiryo, sans-serif;
}

header {
    background-image: url("pic/mv_bg_pc.jpg");
    padding-top: 35px;
}

.header-inner {
    width: 960px;
    margin:0 auto;
    height: 1250px;
}

.header-left img{
    width: 110px;
}

.header-right {
    position: fixed;
    top: 38px;
    right: 35px;
}

.header-right a{
    display: inline-block;
    color: white;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    letter-spacing: 0.05em;
    font-weight: 700px;
}

.header-right a:hover {
    opacity: 0.7;
}

.header-right .tel {
    background: linear-gradient(90deg, #1653ff, #2db1ff)
}


.header-right .mark-info {
    margin-left: 20px;
    background: linear-gradient(90deg, #FF2E8F, #FF85BD)
}


.key-words img{
    width: 510px;
    margin-top: 70px;
}

.performance-fv {
    position: relative;
}

.performance-fv img {
    width: 480px;
    position: absolute;
    top: -42px;
}

.application-info img{
    width: 350px;
    margin-top: 42px;
}

.bg-wrapper {
    background-color: #F5F5F5;
}

.temporary-box img{
    width: 270px;
    position: absolute;
    top: -100px;
}

.temporary-box {
    height: 200px;
    width: 1200px;
    background-color: #12A7CB;
    position: absolute;
    left: 240px;
    z-index: -1;
}

.performance-inner {
    width: 960px;
    margin: 0 auto;
}

.performance-contents {
    padding: 40px 0px 20px 50px;
    color: white;
    margin-top: 140px;
}

.performance-contents h2 {
    font-size:28px;
}

.performance-contents h1{
    font-size: 36px;
    font-size: 16px;
}

.performance-contents h1,.performance-contents h2 {
    margin-bottom: 18px;
}

.question {
    padding :73px 50px 45px;
}

.question ul {
    list-style-type: none;
}

.question ul li{
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.question ul li:before {
    content: " ";
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #12A7CB;
}

.question ul li:after {
    content: " ";
    border-bottom: 2px;
    border-bottom-style: dotted;
    display: inline-block;
    width: 20px;
    height: 5px;
    color: #12A7CB;
}



.customer-voice {
    text-align: center;
}

.member-inner {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}

.member-logo img{
    width: 230px;
}

.member-text p{
    font-weight: 900;
    font-size: 18px;
    margin-top: 20px;
}

.member-text h1{
    font-weight: 900;
    font-size: 36px;
    margin-top: 10px;
}

.member-img {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.member-img img{
    width: 480px;
}

.appeal {
    background-image: url("pic/cta_bg_pc.jpg");
    background-size: cover;
}

.appeal-inner {
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 45px;
}

.appeal-inner img {
    display: block;
}

.appeal-txt-img {
    width: 865px;
    margin: 0 auto;
}

.appeal-main-img {
    width: 570px;
    margin: 0 auto;
    padding-top:20px;
    padding-bottom: 40px;
}

.appeal-btn {
    width: 330px;
    margin: 0 auto;
}

.appeal-btn {
    width: 330px;
    display: block;
}

.specific {
    margin-top: 245px;
    background-color: #F5F5F5;
    position: relative;
    z-index: -2
}

.sp-temporary-box {
    height: 200px;
    width: 1200px;
    background-color: #F57979;
    position: absolute;
    left: 240px;
    top: -100px;
    z-index: -1;
}

.sp-temporary-box img{
    width: 145px;
    position: absolute;
    top: -80px;
    transform: rotate(20deg);
}

.specific-wrapper {
    width: 960px;
    margin: 0 auto;
}

.specific-title h1{
    color: white;
    font-weight: 900px;
    font-size: 28px;
    padding-left: 45px;
    padding-bottom: 65px;
    position: absolute;
    top: -45px;
    letter-spacing: 0.5rem;
    line-height: 1.75;
}

.specific-contents {
    padding-top: 135px;
    padding-bottom: 40px;
}

.sp-txt-top01 {
    padding-top: 50px;
    padding-bottom: 20px;
    border-top: 1px solid #F57979;
    line-height: 1.3;
}

.sp-txt-top01 h2{
    font-size: 28px;
    font-weight: 900;
}

.sp-txt-top01 h1{
    font-size: 32px;
    font-weight: 900px;
    color: #F57979;
}

.div-left01 {
    width: 420px;
    padding-left: 20px;
    padding-right: 80px;
    border-left: 1px solid #F57979;
}

.div-right01 {
    width: 430px;
}

.specific-content01 {
    display: flex;
}

.sp-txt-down01 p{
    font-weight: 500;
    font-size: 14px;
    line-height: 2.0;
}

.specific-content02 {
    padding-left: 70px;
    padding-top: 50px;
}

.sp-top02 img{
    width: 210px;
}

.sp-title02 {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    line-height: 1.3;
}

.sp-title02 h2 {
    font-size: 28px;
    font-weight: 900;
}

.sp-title02 h1 {
    font-size: 32px;
    font-weight: 900px;
    color: #F57979;
}

.sp-title02 span{
    -webkit-text-emphasis: filled circle #F57979 ;
}

.sp-content02 p{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}